
.mc-btn {
  border: 0;
  padding: #{$el-padding-y} #{$el-padding-x};
  font-weight: 600;
  border-radius: #{$el-radius};
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  background-color: var(--moco-primary) !important;
  color: var(--moco-light) !important;
  line-height: 18px !important;


  &:hover{
    background-color: var(--moco-primary-darken) !important;
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color}{
    background-color: var(--moco-#{$color}) !important;
    &:hover{
      background-color: var(--moco-#{$color}-darken) !important;
    }
  }
}
.btn-icon{
  padding: 13px;
  svg{
    display: block;
  }
}
