//@import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/mixins";
//@import "../../node_modules/bootstrap/scss/root";
//@import "../../node_modules/bootstrap/scss/reboot";
//@import "../../node_modules/bootstrap/scss/type";
//@import "../../node_modules/bootstrap/scss/images";
//@import "../../node_modules/bootstrap/scss/code";
//@import "../../node_modules/bootstrap/scss/grid";
////@import "../../node_modules/bootstrap/scss/tables";
//@import "../../node_modules/bootstrap/scss/forms";
//@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
//@import "../../node_modules/bootstrap/scss/button-group";
//@import "../../node_modules/bootstrap/scss/input-group";
//@import "../../node_modules/bootstrap/scss/custom-forms";
//@import "../../node_modules/bootstrap/scss/nav";
//@import "../../node_modules/bootstrap/scss/navbar";
//@import "../../node_modules/bootstrap/scss/card";
////@import "../../node_modules/bootstrap/scss/breadcrumb";
////@import "../../node_modules/bootstrap/scss/pagination";
//@import "../../node_modules/bootstrap/scss/badge";
//@import "../../node_modules/bootstrap/scss/jumbotron";
//@import "../../node_modules/bootstrap/scss/alert";
//@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/media";
//@import "../../node_modules/bootstrap/scss/list-group";
//@import "../../node_modules/bootstrap/scss/close";
//@import "../../node_modules/bootstrap/scss/toasts";
//@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
//@import "../../node_modules/bootstrap/scss/popover";
//@import "../../node_modules/bootstrap/scss/carousel";
//@import "../../node_modules/bootstrap/scss/spinners";
//@import "../../node_modules/bootstrap/scss/utilities";
//@import "../../node_modules/bootstrap/scss/print";
$el-padding-y: 16px;
$el-padding-x: 28px;
$el-radius: 12px;


// Theme colors variables
$primary-color: #7e37d8;
$secondary-color: #fe80b2;
$success-color: #80cf00;
$info-color: #06b5dd;
$warning-color: #ffc717;
$danger-color: #fd517d;
$dark-color: #2c323f;


$moco-bg: #ffffff;
$moco-card: #f0f0f1;
$moco-text: #242934;
$moco-secendery-text: #6e7e96;
$moco-tertiary-text: #ACB1B8;
$moco-accent-text: #666D7A;


$light-color: #f8f5fd;
$semi-dark: #aaaaaa;
$light-semi-gray: #efefef;
$light-gray: #e8ebf2;
$dark-gray: #898989;
$dark-color: #2c323f;
$gray-60: #cccccc;
$card-body-color: #f9f9fa;
$transparent-color: transparent;
$auth-bg-color: #fafafa;
$light: #fdfeff;
$light-text: #999;
$light-background: #f8f4fe;
$light-font: rgba(27, 49, 85, 0.6);
$light-semi-font: rgba(27, 49, 85, 0.4);


// gradient colors
$gradient-primary: linear-gradient(to bottom right, #863ee2, #571f9e);
$gradient-secondary: linear-gradient(to bottom right, #ff9cc3, #fd3484);
$gradient-success: linear-gradient(to bottom right, #b9ec68, #80cf00);
$gradient-warning: linear-gradient(to bottom right, #ffd85d, #ffc200);
$gradient-info: linear-gradient(to bottom right, #00d2d7, #07b2dd);
$gradient-primary-direction: linear-gradient(to right, #863ee2, #571f9e);
$gradient-secondary-direction: linear-gradient(to right, #ff9bc3, #fe68a3);
$gradient-danger-direction: linear-gradient(to right, #ff3f70, #f73769);
$gradient-success-direction: linear-gradient(to right, #b9ec68, #80cf00);
$gradient-info-direction: linear-gradient(to right, #00d2d7, #07b2dd);
$gradient-warning-direction: linear-gradient(to right, #ffd85d, #ffc200);


$primary-color: #7e37d8;
$secondary-color: #fe80b2;
$success-color: #80cf00;
$info-color: #06b5dd;
$warning-color: #ffc717;
$danger-color: #fd517d;

$theme-colors: (
        'primary' : $primary-color,
        'secondary' : $secondary-color,
        'success' : $success-color,
        'info' : $info-color,
        'danger' : $danger-color,
        'warning' : $warning-color,
        'light' : $light-color,
        'dark' : $dark-color,
);


//error input color start
$light-body-bg-color: #f0f0f1;

// dark layout variables
$dark-body-background: #333a62;
$dark-card-background: #2c3054;
$dark-small-font-color: #98a6ad;
$dark-all-font-color: rgba(255, 255, 255, 0.7);
$light-all-font-color: rgba(255, 255, 255, 0.2);
$sidebar-submenu-font-color: rgba(255, 255, 255, 0.7);
$dark-border-color: #374558;
$dark-editor-document: #2b2b2b;


:root {
  @each $color, $value in $theme-colors {
    --moco-#{$color}: #{$value};
    --moco-#{$color}-fade: #{rgba($value, 0.18)};
    --moco-#{$color}-darken: #{darken($value, 8%)};
  }
  --moco-bag: #{$moco-bg};
  --moco-card: #{$moco-card};
  --moco-input-bag: #dbdfe5;
  --moco-input-bag-darken: #{darken(#dbdfe5, 10%)};
  --moco-text: #{$moco-text};
  --moco-secendery-text: #{$moco-secendery-text};
  --moco-tertiary-text: #{$moco-tertiary-text};
  --moco-accent-text: #{$moco-accent-text};
}

[data-theme="dark"] {
  --moco-bag: #{$dark-body-background};
  --moco-card: #{$dark-body-background};
  --moco-input-bag-darken: #{darken(#dbdfe5, 10%)};
  --moco-primary-text: #FFFFFF;
  --moco-secendery-text: #CFD2D6;
  --moco-tertiary-text: #ACB1B8;
  --moco-accent-text: #666D7A;
}

body.has-moco-framework {
  #wpcontent {
    padding: 0;
  }

  #wpbody-content {
    background: var(--moco-bag);

  }

  #wpfooter {
    color: var(--moco-primary-text);
  }
}

#moco-framework {
  background: var(--moco-bag);
  color: var(--moco-primary-text);
  height: calc(100vh - 32px);
  flex-wrap: wrap;

  > form{
    display: initial;
  }
  main {
    display: flex;
    height: calc(100% - 80px);
    padding-right: 20px;
  }

  ul, li {
    margin: 0;
  }

}

body.rtl{
  #moco-sidebar li a:before{
    transform: rotate(
                    180deg
    );
  }
}
#moco-sidebar {
  width: 20%;
  padding: 25px 0;
  overflow-y: auto;
  direction: rtl;

  .moco-nav {
    overflow: hidden;
  }

  li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      a, a:hover {
        background: var(--moco-primary);
        color: var(--moco-light);
      }

      a:before {
        animation: active-side-moco .3s ease-in-out .33333s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }
    }

    &:hover a {
      background: var(--moco-card);
      color: var(--moco-primary);
    }

    a {
      display: block;
      user-select: none;
      padding: $el-padding-y 0;
      position: relative;
      border-radius: 10px;
      color: var(--moco-text);
      outline: none;
      box-shadow: none;
      text-align: left;
      font-weight: 500;
      text-decoration: none;

      &:before {
        content: "";
        width: 20px;
        height: 60px;
        margin-right: -60px;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='80' viewBox='0 0 20 122.1'%3E%3Cpath d='M16.038 122H16v-2.213a95.805 95.805 0 00-2.886-20.735 94.894 94.894 0 00-7.783-20.434A39.039 39.039 0 010 61.051a39.035 39.035 0 015.331-17.567 94.9 94.9 0 007.783-20.435A95.746 95.746 0 0016 2.314V0h4v122h-3.961v.1l-.001-.1z' fill='currentColor'/%3E%3C/svg%3E");
        mask-position: center center;
        background-color: var(--moco-card);
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 8px;
      float: left;
      text-align: center;
    }
  }
}

#moco-header {
  display: flex;
  align-items: center;
  padding: 28px 20px;
  margin-bottom: 10px;

  .brand {

    width: auto;
  }

  h1 {
    color: var(--moco-primary);
    margin: 0 0 10px;
  }

  .small {
    color: var(--moco-tertiary-text);
  }

  .header-actions {
    display: inline-block;
    margin-left: auto;

    li {
      float: left;
      margin-right: 15px;
    }
  }

}

#moco-content {
  width: 80%;
  background: var(--moco-card);
  border-radius: 20px;
  position: relative;
  z-index: 9;
  padding: 30px 12px 30px 30px;
  .moco-tab-content{
    display: none;
    &.show{
      display: block;
    }
  }

  .moco-content{

    @extend .scroll-style;
    overflow-y: auto;
    height: 100%;
    padding-right: 12px;
  }


  &:before {
    content: "";
    position: absolute;
    width: 95%;
    border-radius: 15px 15px 0 0;
    background-color: var(--moco-secendery-text);
    opacity: 0.25;
    height: 14px;
    top: -14px;
    left: calc((100% - 95%) / (2));

  }
  .form-inline:last-child{
    border: unset;
  }
}

.scroll-style{
  &::-webkit-scrollbar {
    margin: 10px 0;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--moco-input-bag);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--moco-primary);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--moco-primary-darken);
  }
}
.mc-btn {
  border: 0;
  padding: #{$el-padding-y} #{$el-padding-x};
  font-weight: 600;
  border-radius: #{$el-radius};
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  background-color: var(--moco-primary) !important;
  color: var(--moco-light) !important;
  line-height: 18px !important;


  &:hover{
    background-color: var(--moco-primary-darken) !important;
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color}{
    background-color: var(--moco-#{$color}) !important;
    &:hover{
      background-color: var(--moco-#{$color}-darken) !important;
    }
  }
}
.btn-icon{
  padding: 13px;
  svg{
    display: block;
  }
}


.mc-control {
  padding: #{$el-padding-y} !important;
  border-radius: #{$el-radius} !important;
  background-color: var(--moco-input-bag) !important;
  font-weight: 600;
  outline: none !important;
  border: 0 !important;
  min-height: unset !important;
  line-height: unset !important;
  transition: box-shadow .2s ease-in-out;

  &:focus {
    border-color: var(--moco-primary) !important;
    box-shadow: 0 0 0 1px var(--moco-primary) !important;
  }

}
.mc-icon{
  padding: 9px 11px;
}


.alert {
  padding: 15px;
  position: relative;
  border-radius: $el-radius;
  margin-bottom: $el-padding-y;

  @each $color, $value in $theme-colors {
    &.#{$color} {
      background: var(--moco-#{$color}-fade);
      color: var(--moco-#{$color}-darken);
    }
  }
}
.mc-switch {
  padding-left: 80px;
  position: relative;
  display: inline-block;
  input{
    display: none;
    &:checked~label{
      &:before{
        background-color: var(--moco-primary);
      } &:after{
          background-color: var(--moco-light);
          left: calc( 70px - 26px - 5px );
          box-shadow: 0 0 10px rgba(black, 0.4);
        }
    }
  }
  label{
    margin: 0;

    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      z-index: 99;
      transition: background-color .15s ease-in-out,left .15s ease-in-out;
    }
    &:before{
      width: 70px;
      height: 36px;
      background-color: var(--moco-input-bag);
      left: 0;
      top: -5px;
      border-radius: 12px;
    }
    &:after{
      width: 26px;
      height: 26px;
      left: 5px;
      top: 0;
      border-radius: 8px;
      background-color: var(--moco-input-bag-darken);
     }
  }
}
.form-inline {
  padding: 20px 0;
  border-bottom: 1px solid var(--moco-input-bag);
  display: flex;

  input[type=checkbox],
  input[type=radio] {
    width: 25px;
    height: 25px;
    margin: unset;

    &:focus {
      box-shadow: none !important;
    }

    &:hover {
      background-color: var(--moco-input-bag-darken) !important;
    }
  }

  input[type=checkbox]:checked {
    background-color: var(--moco-primary) !important;

    &:before {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.25 11.75L11.25 13.75L14.75 10' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      margin: 0;
      transform: scale(1.6);
    }
  }

  input[type=radio]:checked {
    background-color: var(--moco-primary) !important;

    &:before {
      margin: 0px;
      background-color: white !important;
      transform: translate(8px, 8px);
      width: 9px;
      height: 9px;

    }
  }

  input[type=radio] {
    border-radius: 50% !important;
  }

  input[type=checkbox] {
    border-radius: 8px !important;
  }

  [type=text],
  [type=number],
  textarea {
    width: 60%;
  }
  .bordered .form-label:before{
    content: '';
    position: absolute;
    width: 2px;
    height: calc( 100% + 40px);
    background: #dbdfe5;
    right: 15px;
    top: -20px;
  }

  .form-control-box {
    width: 80%;
    small{
      margin-top: 10px;
      display: block;
    }
  }

  .form-control {
    &.row{
      display: flex;
      align-items: center;
      > * {
        margin-right: 8px;
      }
      > *:last-child{
        margin-right: unset;
      }
      .mc-control{
        width: 100%;
      }
      .mc-btn{
        flex: none;
      }
    }
    &.inline label{
      display: block;
      margin-bottom: 20px;
    }
    label {
      margin-right: 15px;
    }
  }

  .form-label {
    width: 30%;
    padding: 5px 10px 0 0;
    position: relative;

    label {
      font-weight: 600;
      font-size: 15px;
      display: block;
      margin-bottom: 8px;

    }
  }
}


@-webkit-keyframes active-side-moco {
  to {
    margin-right: -23px;
    opacity: 1
  }
}

@keyframes active-side-moco {
  to {
    margin-right: -23px;
    opacity: 1
  }
}


@import "./../../node_modules/font-awesome/scss/font-awesome";
